<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <!-- 控制台日志 -->
    <target name="coloredConsole" xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss.fff} &lt;${level:uppercase=true}:${logger:shortName=true}&gt; ${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Cyan" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <!-- 普通文件日志 -->
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${date:format=yyyy-MM-dd} ${date:format=HH\:mm\:ss.fff} &lt;${level:uppercase=true}:${logger:shortName=true}&gt; ${message}"
            keepFileOpen="false" concurrentWrites="true" encoding="utf-8" />

    <!-- 错误日志文件 -->
    <target name="errorFile" xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.error.log"
            layout="${date:format=yyyy-MM-dd} ${date:format=HH\:mm\:ss.fff} &lt;${level:uppercase=true}:${logger:shortName=true}&gt; ${message}"
            keepFileOpen="false" concurrentWrites="true" encoding="utf-8" />
  </targets>

  <rules>
    <!-- 所有日志输出到控制台 -->
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
	<!-- Info及以上级别记录到普通文件 -->
    <logger name="*" minlevel="Info" writeTo="coloredConsole,file" />
    <!-- Error及以上级别单独记录到错误文件 -->
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>